## Assignment 2: MongoDB

This assignment is based on content discussed in the Introduction to MongoDB module.

## Learning outcomes

The purpose of this assignment is for learners to be able to:
- Familarize with JSON document syntax
- Understand basic MongoDB CRUD operations
- Understand MongoDB data pipelines to run aggregate queries

In this assignment, you will make use of the sample data provided.  

This dataset has 3 collections: Employee, Workplace and Address.  You will import this data into your local MongoDB database.

Required imports for this project are given below. Make sure you have all libraries required for this project installed. You may use conda or pip based on your set up.

## Setup Notes

**Please note** These instructions are duplicated here for your reference. You would have encountered them in a previous module. It is expected that you have already taken the steps to set up and run MongoDB.

We will be using MongoDB Community Edition.  The MongoDB database <b>MUST</b> be installed and running locally before continuing with this notebook.  We will need to install two packages using the Anaconda package manager:

1. [Mongodb](https://www.mongodb.com/) - this package contains the mongodb database 
2. [PyMongo](https://www.mongodb.com/docs/drivers/pymongo/) - this package contains the python driver that will allow us to communicate with the mongodb database.

#### Install

1. Open a command line terminal and execute the following command to install mongodb.
```console
conda install -c anaconda mongodb
```
2. Open a command line terminal and execute the following command to install pymongo packge.
```console
conda install -c anaconda pymongo
```

#### Run Mongodb in Windows
1. MongoDB requires a data directory to store all data. MongoDB’s default data directory path is \data\db. Create this folder using the following commands from a Command Prompt:
```console
md \data\db
```

2. To start MongoDB, run mongod.exe. For example, from the Command Prompt:
```console
"C:\Program Files\MongoDB\Server\3.2\bin\mongod.exe"
```

#### Run Mongodb in Mac
1. MongoDB requires a data directory to store all data. MongoDB’s default data directory path is /data/db. Create this folder using the following commands from a Command Prompt.  Note that we run the command as a super user using the "sudo" command:
```console
sudo mkdir /data/db/
```

2. To start MongoDB, run mongod.exe. For example, from the Command Promp.  Note that we run the command as a super user using the "sudo" command:
```console
sudo mongod --config /usr/local/etc/mongod.conf
```

In [1]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
from bson import ObjectId
print('Mongo version', pymongo.__version__)

Mongo version 3.12.0

We first need to connect to our locally running MongoDB database (<b>Make sure your database is running on your machine</b>). We will use the MongoClient to connect to a local 'test' database that is running on port 27017 (this is the default port).

In [2]:
client = MongoClient('localhost', 27017)
db = client.assignment1

After installing necessary modules proceed to import the data into your database.

In [3]:
# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open('Data/Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open('Data/Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open('Data/Address.json') as f:
    db.address.insert_many(json.load(f))

#### Question 1 (10 Marks)

The address collection contains employee from different ages and interests.  Perform a simple query to list all employees that are less than or equal to 50 and like Cooking.

__NOTE:__ the following shows the structure of an Employee document that will help you construct the query.

In [4]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [5]:
# YOUR CODE HERE
for employee in client.assignment1.employee.find({'age':{'$lte':50},'interests':'Cooking'}):
    pprint.pprint(employee)

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}
{'_id': 'af27265e-6639-49f2-991e-193275a4111a',
 'address_id': '64fd714d-e219-4e45-888b-cc2238a8bd0b',
 'age': 18,
 'email': 'sug@gon.bf',
 'firstname': 'Thomas',
 'interests': ['Cooking', 'Cricket', 'Tennis', 'Swimming', 'Fishing'],
 'lastname': 'Patterson',
 'workplace_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f'}
{'_id': '00289d48-bad8-4b73-a359-a1a1f05c96e2',
 'address_id': '8a430805-00b8-40a6-bd93-c950b544a83b',
 'age': 22,
 'email': 'ra@dupnejuk.nr',
 'firstname': 'Sophia',
 'interests': ['Hiking', 'Soccer', 'Bowling', 'Rubgy', 'Cooking', 'Dancing'],
 'lastname': 'Flores',
 'workplace_id': 'b12cd444-e65b-4bc2-8cf6-2dbe854a627b'}
{'_id': 'da76e52b-b3db-4fc0-b0d6-435d1aed0cd9',
 'address_id': '5d3eacc4-d1d8-459b-973c-3bc71feacf50',
 'age': 25,
 'email': 'ro@nemaw.et',
 'firstname': 'Ollie',
 'interests': ['Cooking', 'Bowling', 'Dancing'],
 'lastname': 'Barnett',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': '51643cd6-49bb-45d5-bd6e-717c62bb2869',
 'address_id': '3f10d9f7-57ef-40e1-a97d-d2ee53aa2c6e',
 'age': 27,
 'email': 'hutfardu@vicbiri.gb',
 'firstname': 'James',
 'interests': ['Rubgy', 'Tennis', 'Cricket', 'Cooking'],
 'lastname': 'Wilkins',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': 'f073a705-6546-4375-adb5-b224871776ef',
 'address_id': 'f4e59d7e-ea40-442d-87be-106e3c46a554',
 'age': 25,
 'email': 'fekegim@lucul.tp',
 'firstname': 'Aaron',
 'interests': ['Cooking'],
 'lastname': 'Carr',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '457ef68c-9651-4925-bca0-15e246661d19',
 'address_id': '5e97658e-5809-41b8-a088-eddbd81f86a7',
 'age': 34,
 'email': 'jus@goal.bn',
 'firstname': 'Alta',
 'interests': ['Cricket', 'Cycling', 'Rubgy', 'Golf', 'Cooking', 'Dancing'],
 'lastname': 'Sharp',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '840184a3-4c4d-4b15-8813-30fca6e7827b',
 'address_id': '456e18ae-c2f8-443e-899d-f2b893499695',
 'age': 36,
 'email': 'me@wak.ne',
 'firstname': 'Delia',
 'interests': ['Cricket', 'Cooking', 'Hiking', 'Dancing', 'Tennis'],
 'lastname': 'Douglas',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '6157dc3b-ee2d-463a-b62b-1cd4eed7d575',
 'address_id': '8d162eb9-eefc-4b7e-bcad-6fb7a02b15b0',
 'age': 48,
 'email': 'co@pog.nz',
 'firstname': 'Dominic',
 'interests': ['Cycling', 'Dancing', 'Cooking'],
 'lastname': 'Wade',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': 'cc3e389d-be0d-467a-ba70-7c84f6504911',
 'address_id': '0d3a90d5-11bd-4f96-91ba-7e7ef80888f0',
 'age': 36,
 'email': 'saj@far.zm',
 'firstname': 'Myrtle',
 'interests': ['Cooking', 'Cycling', 'Hiking', 'Rubgy', 'Bowling', 'Dancing'],
 'lastname': 'Little',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': 'c2bf0e3f-e3de-41de-b745-c5b70571dd3a',
 'address_id': '7edd78a4-c4e6-484a-bf2f-ecad5c4c506b',
 'age': 29,
 'email': 'co@mahdo.ca',
 'firstname': 'Jordan',
 'interests': ['Swimming', 'Cooking'],
 'lastname': 'Roberson',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': '4bc070ca-f849-4eeb-8ab2-98fe3c0861c0',
 'address_id': 'fc607f68-81c8-4ca8-8a9e-30239ccae40f',
 'age': 38,
 'email': 'pa@sodej.ck',
 'firstname': 'Francis',
 'interests': ['Dancing', 'Swimming', 'Cooking', 'Bowling', 'Cycling'],
 'lastname': 'Harris',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': '66894dba-4ff0-4545-b7cc-eb6a5bd551c5',
 'address_id': '4dcebe6e-0787-4158-9744-3d721098cec4',
 'age': 49,
 'email': 'do@womjip.by',
 'firstname': 'Clara',
 'interests': ['Soccer', 'Cooking', 'Cycling'],
 'lastname': 'Butler',
 'workplace_id': '50275ad1-8140-4e79-8818-21793e3eb0a3'}
{'_id': '581f59a2-ff4c-407e-b58f-e4f292208928',
 'address_id': '1cf24906-c700-41bb-a4c8-bba3c3ae30d9',
 'age': 33,
 'email': 'vasberet@his.nz',
 'firstname': 'Rena',
 'interests': ['Cycling', 'Swimming', 'Soccer', 'Cooking'],
 'lastname': 'Johnson',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': 'b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3',
 'address_id': 'ef5a17a2-6f11-49b8-a0fd-e0bddc56f185',
 'age': 49,
 'email': 'ah@jopah.uz',
 'firstname': 'Gavin',
 'interests': ['Rubgy', 'Cooking', 'Bowling'],
 'lastname': 'Conner',
 'workplace_id': '50275ad1-8140-4e79-8818-21793e3eb0a3'}
{'_id': '2bfc0479-cb15-46e1-94fa-801404791b21',
 'address_id': '77ce0c50-afd6-47e8-86d7-b1b372e8deb2',
 'age': 37,
 'email': 'usope@tega.bh',
 'firstname': 'Peter',
 'interests': ['Cooking', 'Swimming', 'Cricket'],
 'lastname': 'Jimenez',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}

#### Question 2  (10 Marks)

Insert a new Employee with the following properties:

* First Name: Jake 
* Last Name: Sample
* Email: jakesample@email.com
* Age: 26
* Interest: Biking, Hiking

Also, this employee works for 'Union Planters Corp' and lives at '573 Wojhas Square, Victoria'.
Verify that the insert succeeded and display the generated employees _id attribute.

__HINT__ An Employee document references a Workplace and Address document

In [6]:
# Check number of documents in collection prior to insert
client.assignment1.employee.count_documents({})

100

In [7]:
# YOUR CODE HERE
# Insert new Employee
emp_address_id=client.assignment1.address.find_one({'address':'573 Wojhas Square'})['_id']
emp_workplace_id=client.assignment1.workplace.find_one({'name':'Union Planters Corp'})['_id']

client.assignment1.employee.insert_one({'firstname':'Jake','lastname':'Sample','email':'jakesample@email.com','age':26,'interests':['Biking','Hiking'],'address_id':emp_address_id,'workplace_id':emp_workplace_id})

In [8]:
# Check number of documents in collection after insert
client.assignment1.employee.count_documents({})

101

In [9]:
# Verify the insert
for employee in client.assignment1.employee.find({'firstname':'Jake','lastname':'Sample'}):
    pprint.pprint(employee)

{'_id': ObjectId('652caee7b8960f343676c69f'),
 'address_id': '91b5b7b3-2309-4e8a-8247-cd66d626ef0c',
 'age': 26,
 'email': 'jakesample@email.com',
 'firstname': 'Jake',
 'interests': ['Biking', 'Hiking'],
 'lastname': 'Sample',
 'workplace_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f'}

#### Question 3 (10 Marks)

Delete all employees that work for 'Great Plains Energy Inc.' and are greater than 46 years old and likes 'Tennis'. Once you delete the employees verify the number of employees deleted.

In [10]:
# YOUR CODE HERE
# Check number of documents in collection prior to delete
client.assignment1.employee.count_documents({})

101

In [11]:
# First find the documents that meet the criteria listed
emp_workplace_id2=client.assignment1.workplace.find_one({'name':'Great Plains Energy Inc.'})['_id']
for employee in client.assignment1.employee.find({'age':{'$gt':46},'interests':'Tennis','workplace_id':emp_workplace_id2}):
    pprint.pprint(employee)

{'_id': '153ba346-b33d-4611-802c-fd95c7cb078c',
 'address_id': '8264af1e-1c55-4ed8-96f9-e3b9e1eff7d5',
 'age': 71,
 'email': 'ov@sutec.mr',
 'firstname': 'Adelaide',
 'interests': ['Tennis'],
 'lastname': 'Curry',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}
{'_id': '8e082f05-13b7-485d-89c4-259f1103f95c',
 'address_id': '62996de2-fcda-4894-95d5-fef0d11d92f4',
 'age': 48,
 'email': 'wi@uvafej.pt',
 'firstname': 'Lester',
 'interests': ['Bowling', 'Tennis'],
 'lastname': 'Summers',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}
{'_id': 'dfce1d98-15f6-4b75-86f6-cd5d05cfdc04',
 'address_id': '2987cea4-b71d-4338-b0ef-a9b5feb3a138',
 'age': 80,
 'email': 'vukhik@wejoce.nf',
 'firstname': 'Sadie',
 'interests': ['Golf', 'Fishing', 'Bowling', 'Dancing', 'Cooking', 'Tennis'],
 'lastname': 'Park',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}
{'_id': '86417f71-18cd-41c5-ad01-24b31ff2074f',
 'address_id': 'fe80c95a-a0e9-42c9-aa6a-56f27020842d',
 'age': 65,
 'email': 'bi@udtaofe.tj',
 'firstname': 'Lucy',
 'interests': ['Tennis'],
 'lastname': 'May',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [12]:
# Delete employees that meet the critieria listed
client.assignment1.employee.delete_many({'age':{'$gt':46},'interests':'Tennis','workplace_id':emp_workplace_id2})

In [13]:
# Verify that these documents have been deleted
for employee in client.assignment1.employee.find({'age':{'$gt':46},'interests':'Tennis','workplace_id':emp_workplace_id2}):
    pprint.pprint(employee)

In [14]:
# Verify new total number of documents in the collection
# Should be 101-4=97
client.assignment1.employee.count_documents({})

97

#### Question 4 (12 Marks)
Add a new field called 'industry' to all employees that work for 'Health Net Inc.' and populate the field with the value 'Health Care'.

__HINT__ Adding a new field to a document is like updating the document

In [15]:
# YOUR CODE HERE
# First find the documents that meet the criteria listed
emp_workplace_id3=client.assignment1.workplace.find_one({'name':'Health Net Inc.'})['_id']
for employee in client.assignment1.employee.find({'workplace_id':emp_workplace_id3}):
    pprint.pprint(employee)
client.assignment1.employee.count_documents({'workplace_id':emp_workplace_id3})

{'_id': 'ad4fd8bd-b732-4388-8469-5395b497df63',
 'address_id': '91b32548-65b6-4fd9-91a1-2d86b04b8eea',
 'age': 42,
 'email': 'tasnimnag@tefifdum.bo',
 'firstname': 'Marc',
 'interests': ['Golf', 'Cricket', 'Rubgy', 'Hiking', 'Fishing', 'Dancing'],
 'lastname': 'Castro',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '6222b4f5-6fd3-4c72-b058-710fb568b869',
 'address_id': '59516270-19f4-47e8-95ae-3e83fa5f230c',
 'age': 46,
 'email': 'ruupeke@oh.om',
 'firstname': 'Lucinda',
 'interests': ['Golf', 'Rubgy', 'Tennis'],
 'lastname': 'Gomez',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'ca189ae9-d04b-4ae0-9b4a-b725196c31d2',
 'address_id': '16ff1778-b687-42ef-aace-36cedc05f521',
 'age': 37,
 'email': 'vom@calfim.se',
 'firstname': 'Emilie',
 'interests': ['Hiking'],
 'lastname': 'Robertson',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'ed499274-f17f-4a4c-8327-7e740e6dd9c1',
 'address_id': '01185f9b-b00f-4f2d-9878-0c989fe00fbc',
 'age': 36,
 'email': 'newi@to.in',
 'firstname': 'Josephine',
 'interests': ['Tennis', 'Bowling', 'Cricket'],
 'lastname': 'Mills',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '6a3bd505-56e6-46ec-bef1-2eef1fd3643c',
 'address_id': 'a8f07070-cfb0-483e-a07a-b2adf9e3d4b0',
 'age': 24,
 'email': 'disbuivi@efu.id',
 'firstname': 'Vernon',
 'interests': ['Soccer'],
 'lastname': 'Edwards',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '5b8bb404-5741-46a9-84f2-81248ffd2840',
 'address_id': 'fc2b6b58-8392-4f3d-b1c8-07f4df87dc24',
 'age': 43,
 'email': 'kazvasi@nojrek.aq',
 'firstname': 'Glen',
 'interests': ['Golf', 'Hiking'],
 'lastname': 'Turner',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'c7cf8650-f391-4f2b-bbb5-60225729e998',
 'address_id': '44cc24b9-1d60-45cf-be0d-a225f35d52ab',
 'age': 49,
 'email': 'himosewej@repan.bw',
 'firstname': 'Jeremiah',
 'interests': ['Cricket', 'Fishing'],
 'lastname': 'Payne',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '9ebcf9fc-e193-4ab7-9c38-10c2d6bf6036',
 'address_id': 'd34f9d8c-c1a0-4653-8a44-d2fe65714956',
 'age': 76,
 'email': 'zut@zoksa.kw',
 'firstname': 'Alan',
 'interests': ['Bowling', 'Cooking', 'Rubgy', 'Fishing', 'Golf', 'Cricket'],
 'lastname': 'Berry',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'fd677b4b-6eef-4777-bc3a-25d9a86134fa',
 'address_id': '98fa15f0-5b73-4fb9-a5a4-1332e0f5b58b',
 'age': 37,
 'email': 'pelohno@hotivgu.hn',
 'firstname': 'Mattie',
 'interests': ['Cycling', 'Fishing', 'Soccer', 'Rubgy', 'Hiking'],
 'lastname': 'Fisher',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'cb369c19-4bbc-449f-bff6-b198439d0d7b',
 'address_id': 'd5b7473d-c82b-4956-bce3-80497ce6c015',
 'age': 43,
 'email': 'oka@lilozfaz.gn',
 'firstname': 'Adele',
 'interests': ['Swimming', 'Hiking', 'Tennis'],
 'lastname': 'Benson',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '8c4b8dc8-2ecc-46e8-8653-d126f1810c33',
 'address_id': '592fa227-312d-4a80-8eb2-c4e26493da69',
 'age': 27,
 'email': 'rekasbe@vewusezi.an',
 'firstname': 'Cory',
 'interests': ['Fishing', 'Cricket', 'Hiking'],
 'lastname': 'Beck',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '9fd3a190-1991-4ce1-924b-de4701020022',
 'address_id': '2d6b7fb9-fe27-4573-8ef6-56ba4b79e038',
 'age': 50,
 'email': 'imnampe@ca.pt',
 'firstname': 'Jacob',
 'interests': ['Dancing'],
 'lastname': 'Austin',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'c6d0eebd-ddf2-41ed-a20f-76274c5c8343',
 'address_id': '68d28d57-8cac-4388-8485-976518a6d817',
 'age': 72,
 'email': 'zolo@dacelva.dz',
 'firstname': 'Tony',
 'interests': ['Cooking', 'Rubgy'],
 'lastname': 'Paul',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'e9e7ee3e-90da-4474-b6a7-f256e4915245',
 'address_id': '5bbc3eb4-01cf-43c2-85bd-346f786adfee',
 'age': 57,
 'email': 'ar@gab.gov',
 'firstname': 'Jorge',
 'interests': ['Cooking'],
 'lastname': 'Day',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}

14

In [16]:
# Perform update
client.assignment1.employee.update_many({'workplace_id':emp_workplace_id3},{'$set':{'industry':'Health Care'}})

In [17]:
# Verify update
for employee in client.assignment1.employee.find({'workplace_id':emp_workplace_id3}):
    pprint.pprint(employee)
client.assignment1.employee.count_documents({'workplace_id':emp_workplace_id3})

{'_id': 'ad4fd8bd-b732-4388-8469-5395b497df63',
 'address_id': '91b32548-65b6-4fd9-91a1-2d86b04b8eea',
 'age': 42,
 'email': 'tasnimnag@tefifdum.bo',
 'firstname': 'Marc',
 'industry': 'Health Care',
 'interests': ['Golf', 'Cricket', 'Rubgy', 'Hiking', 'Fishing', 'Dancing'],
 'lastname': 'Castro',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '6222b4f5-6fd3-4c72-b058-710fb568b869',
 'address_id': '59516270-19f4-47e8-95ae-3e83fa5f230c',
 'age': 46,
 'email': 'ruupeke@oh.om',
 'firstname': 'Lucinda',
 'industry': 'Health Care',
 'interests': ['Golf', 'Rubgy', 'Tennis'],
 'lastname': 'Gomez',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'ca189ae9-d04b-4ae0-9b4a-b725196c31d2',
 'address_id': '16ff1778-b687-42ef-aace-36cedc05f521',
 'age': 37,
 'email': 'vom@calfim.se',
 'firstname': 'Emilie',
 'industry': 'Health Care',
 'interests': ['Hiking'],
 'lastname': 'Robertson',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'ed499274-f17f-4a4c-8327-7e740e6dd9c1',
 'address_id': '01185f9b-b00f-4f2d-9878-0c989fe00fbc',
 'age': 36,
 'email': 'newi@to.in',
 'firstname': 'Josephine',
 'industry': 'Health Care',
 'interests': ['Tennis', 'Bowling', 'Cricket'],
 'lastname': 'Mills',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '6a3bd505-56e6-46ec-bef1-2eef1fd3643c',
 'address_id': 'a8f07070-cfb0-483e-a07a-b2adf9e3d4b0',
 'age': 24,
 'email': 'disbuivi@efu.id',
 'firstname': 'Vernon',
 'industry': 'Health Care',
 'interests': ['Soccer'],
 'lastname': 'Edwards',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '5b8bb404-5741-46a9-84f2-81248ffd2840',
 'address_id': 'fc2b6b58-8392-4f3d-b1c8-07f4df87dc24',
 'age': 43,
 'email': 'kazvasi@nojrek.aq',
 'firstname': 'Glen',
 'industry': 'Health Care',
 'interests': ['Golf', 'Hiking'],
 'lastname': 'Turner',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'c7cf8650-f391-4f2b-bbb5-60225729e998',
 'address_id': '44cc24b9-1d60-45cf-be0d-a225f35d52ab',
 'age': 49,
 'email': 'himosewej@repan.bw',
 'firstname': 'Jeremiah',
 'industry': 'Health Care',
 'interests': ['Cricket', 'Fishing'],
 'lastname': 'Payne',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '9ebcf9fc-e193-4ab7-9c38-10c2d6bf6036',
 'address_id': 'd34f9d8c-c1a0-4653-8a44-d2fe65714956',
 'age': 76,
 'email': 'zut@zoksa.kw',
 'firstname': 'Alan',
 'industry': 'Health Care',
 'interests': ['Bowling', 'Cooking', 'Rubgy', 'Fishing', 'Golf', 'Cricket'],
 'lastname': 'Berry',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'fd677b4b-6eef-4777-bc3a-25d9a86134fa',
 'address_id': '98fa15f0-5b73-4fb9-a5a4-1332e0f5b58b',
 'age': 37,
 'email': 'pelohno@hotivgu.hn',
 'firstname': 'Mattie',
 'industry': 'Health Care',
 'interests': ['Cycling', 'Fishing', 'Soccer', 'Rubgy', 'Hiking'],
 'lastname': 'Fisher',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'cb369c19-4bbc-449f-bff6-b198439d0d7b',
 'address_id': 'd5b7473d-c82b-4956-bce3-80497ce6c015',
 'age': 43,
 'email': 'oka@lilozfaz.gn',
 'firstname': 'Adele',
 'industry': 'Health Care',
 'interests': ['Swimming', 'Hiking', 'Tennis'],
 'lastname': 'Benson',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '8c4b8dc8-2ecc-46e8-8653-d126f1810c33',
 'address_id': '592fa227-312d-4a80-8eb2-c4e26493da69',
 'age': 27,
 'email': 'rekasbe@vewusezi.an',
 'firstname': 'Cory',
 'industry': 'Health Care',
 'interests': ['Fishing', 'Cricket', 'Hiking'],
 'lastname': 'Beck',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': '9fd3a190-1991-4ce1-924b-de4701020022',
 'address_id': '2d6b7fb9-fe27-4573-8ef6-56ba4b79e038',
 'age': 50,
 'email': 'imnampe@ca.pt',
 'firstname': 'Jacob',
 'industry': 'Health Care',
 'interests': ['Dancing'],
 'lastname': 'Austin',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'c6d0eebd-ddf2-41ed-a20f-76274c5c8343',
 'address_id': '68d28d57-8cac-4388-8485-976518a6d817',
 'age': 72,
 'email': 'zolo@dacelva.dz',
 'firstname': 'Tony',
 'industry': 'Health Care',
 'interests': ['Cooking', 'Rubgy'],
 'lastname': 'Paul',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}
{'_id': 'e9e7ee3e-90da-4474-b6a7-f256e4915245',
 'address_id': '5bbc3eb4-01cf-43c2-85bd-346f786adfee',
 'age': 57,
 'email': 'ar@gab.gov',
 'firstname': 'Jorge',
 'industry': 'Health Care',
 'interests': ['Cooking'],
 'lastname': 'Day',
 'workplace_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be'}

14

In [18]:
# Document count did not change after update which is what we expected
client.assignment1.employee.count_documents({})

97

#### Question 5 (10 Marks)

Create an aggregate query to count the number of employees for each company and sort the output from largest employee count to lowest employee count.

__NOTE__ you will use a pipeline to achieve the computed result.  You should produce a result similar to the following table (the following table contains fake data)
<table>
    <tr><th></th><th>_id</th><th>count</th></tr>
    <tr><td>0</td><td>[Equity Residential Properties Trust]</td><td>19</td></tr>
    <tr><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>[Bell Microproducts Inc.]</td><td>6</td></tr>
    <tr><td>8</td><td>[Kemet Corp.]</td><td>1</td></tr>
</table>

__HINT__ you should make use of the \\$lookup, \\$group and \\$sort pipeline operations

In [19]:
# First view the names of the workplaces in the collection
for workplace in client.assignment1.workplace.find({},{'_id':0,'name':1}):
    pprint.pprint(workplace)

{'name': 'Union Planters Corp'}
{'name': 'Aetna Inc.'}
{'name': 'Health Net Inc.'}
{'name': 'Kemet Corp.'}
{'name': 'Bell Microproducts Inc.'}
{'name': 'Equity Residential Properties Trust'}
{'name': 'Equity Office Properties Trust'}
{'name': 'Hilton Solutions'}
{'name': 'Great Plains Energy Inc.'}
{'name': 'Xcel Bear Inc'}
{'name': 'Novellus Systems Inc'}
{'name': 'Citizens Hawk'}

In [20]:
# Check output of names of workplaces and count of employees at each
for employee in client.assignment1.employee.aggregate([
    {
    '$lookup':
       {
         'from':'workplace',
         'localField':'workplace_id',
         'foreignField':'_id',
         'as':'workplace_name'
        }   
    },
    {
        '$unwind':'$workplace_name'
    },
    {
    '$group':  
        {'_id': '$workplace_name.name',  
         'count':{'$sum':1} 
        }
    },
    {
    '$sort':{'count':-1} 
    }
    ]):
 
    pprint.pprint(employee)

{'_id': 'Hilton Solutions', 'count': 15}
{'_id': 'Health Net Inc.', 'count': 14}
{'_id': 'Aetna Inc.', 'count': 13}
{'_id': 'Bell Microproducts Inc.', 'count': 11}
{'_id': 'Equity Office Properties Trust', 'count': 10}
{'_id': 'Union Planters Corp', 'count': 10}
{'_id': 'Equity Residential Properties Trust', 'count': 7}
{'_id': 'Xcel Bear Inc', 'count': 6}
{'_id': 'Kemet Corp.', 'count': 6}
{'_id': 'Great Plains Energy Inc.', 'count': 5}

In [21]:
# YOUR CODE HERE
# Run aggregation pipeline and produce dataframe

query_result = client.assignment1.employee.aggregate([
    {
    '$lookup':
       {
         'from':'workplace',
         'localField':'workplace_id',
         'foreignField':'_id',
         'as':'workplace_name'
        }   
    },
    {
        '$unwind':'$workplace_name'
    },
    {
    '$group':  
        {'_id': '$workplace_name.name',  
         'count':{'$sum':1} 
        }
    },
    {
    '$sort':{'count':-1} 
    }
    ])

df=pd.DataFrame(list(query_result))
df

                                   _id  count
0                     Hilton Solutions     15
1                      Health Net Inc.     14
2                           Aetna Inc.     13
3              Bell Microproducts Inc.     11
4       Equity Office Properties Trust     10
5                  Union Planters Corp     10
6  Equity Residential Properties Trust      7
7                        Xcel Bear Inc      6
8                          Kemet Corp.      6
9             Great Plains Energy Inc.      5